/* color map */

$color: (
  gradient: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%),
  font-mina: #0000008c,
  mina: #808000,
  accent: #800080,
  btn--primary: #dda0dd,
  btn--font: #f8f8ff,
  field: #e6e6fa
);